@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Semibold';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: #FFFFFF;
}

.center {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    padding: 31px 0;
    margin: 0 0 96px 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 500px;
}

ul {
    list-style-type: none;
}

.menu-li {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 34px;
}

.menu-link__color {
    font-family: 'Gilroy Semibold',sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #F25822;
}

.menu-link {
    font-family: 'Gilroy Semibold',sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.menu-list-item a:hover {
    opacity: 0.7;
}

.menu-list-item a:active {
    color: #F25822;
}

.top-title {
    font-family: 'Gilroy Bold',sans-serif;
    width: 522px;
    margin: 0 0 17px 0;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.top-txt {
    font-family: 'Gilroy Medium', sans-serif;
    width: 466px;
    margin: 0 0 37px 0;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top-content {
    margin: 0 0 162px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.top-logos {
    padding: 97px 0 96px 0;
}

.top-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}

.btn {
    font-family: 'Gilroy Bold' ,sans-serif;
    font-size: 15px;
    display: block;
    color: #FFFFFF;
    background-color: #F25822;
    border-radius: 50px;
    max-width: 140px;
    width: 100%;
    padding: 15px 36px 16px 35px;
    box-sizing: border-box;
    border: none;
    line-height: 18px;
}

.btn:hover {
    color: #F25822;
    background-color: #FFFFFF;
}

.btn:active {
    color: #FFFFFF;
    background-color: #F25822;
}

.button {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.button:hover {
    color: #F25822;
}

.button:active {
    color: #FFFFFF;
}

.top-content-img {
    width: 545px;
    height: 375px;
}

.logos {
    display: flex;
    gap: 48px;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 61px;
    margin: 0 0 100px 0;
}
.advantages-top-item {
    max-width: 310px;
    width: 100%;
}
.advantages-top-item_size {
    padding: 30px;
    max-width: 370px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.advantages-top-item-photo {
    width: 70px;
    height: 70px;
    background-image: url(../img/advantages_photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin:0 0 25px 0;

}
.advantages-top-photo__2 {
    background-image: url(../img/advantages_photo__2.png);
}
.advantages-top-photo__3 {
    background-image: url(../img/advantages_photo__3.png);
}
.advantages-top-item-title {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin:0 0 17px 0 ;
}
.advantages-top-item-txt {
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #666666;
    margin:0 0 25px 0;
}
.advantages-btn {
    text-align:start;
}
.btn-link {
    font-family: 'Gilroy Bold',sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #000000;
}
.advantages-background-info {
    background-color: #fafafa;
    padding:  0 0 100px 0;
}
.advantages-info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.advantages-info-title {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    text-align: center;
    padding: 92px 0 19px 0;
    }
.advantages-info-txt {
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    margin: 0 0 54px 0;
}
.advantages-info-content-block {
    max-width: 370px;
    width: 100%;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}
.advantages-info-content-item {
    background-color: #FFFFFF;
    padding: 0 0 30px 0;
    box-sizing: border-box;
}
.advantages-info-photo {
    width: 370px;
    height: 270px;
    background-image: url(../img/advantages-info-photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.advantages-info-photo__2 {
    background-image: url(../img/advantages-info-photo__2.png);
}
.advantages-info-photo__3 {
    background-image: url(../img/advantages-info-photo__3.png);
}
.advantages-info-item-title {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;color: #000000;
    margin: 0 0 22px 83px;
}
.advantages-info-item-txt {
    font-family: 'Gilroy Regular',sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #AAAAAA;
    margin: 0 30px 39px 30px;
}
.button-info {
    
}
.advantages-item-btn {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 150px;
    width: 100%;
    background: #F25822;
    border-radius: 50px;
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 15px 36px 15px 46px;
    margin: 0 100px 30px 120px;
}
.advantages-item-btn:hover {
    color: #F25822;
    background-color: #FFFFFF;
}

.advantages-item-btn:active {
    color: #FFFFFF;
    background-color: #F25822;
}
